<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href="/">Healthcare<br> WebApp</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href="/new_patient">New Patient</a></li>
                    <li><a href="/search_patient_form">Search Patient</a></li>
                    <li><a href="/view_all_patient/0">View Patient</a></li>
                    <li><a href="/new_doctor">New Doctor</a></li>
                    <li><a href="/search_doctor_form">Search Doctor</a></li>
                    <li><a href="/view_all_doctor/0">View Doctor</a></li>
                </ul>
            </nav>

        </div>
    </div>
</body>

</html>