<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Upload Profile Picture</title>
                <link rel="stylesheet" type="text/css" href="/css/style.css">
        </head>
        <body>
                <div class="full-page">
                        <div class=navbar1>
                                <a href="/">Healthcare<br> WebApp</a>
                        </div>
                        <div id="search-patient"class="search-page">
                                <div class="search-form">
                                        <div class="search-button-box">
                                            <div type="text" class="txt1">Image Uploaded successfully! <br><br> Thank you!!</div>
                                        </div>
                                </div>
                        </div>
                </div>
        </body>
</html>