<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Search Patient Form</title>
                <link rel="stylesheet" type="text/css" href="/css/style.css">
        </head>
        <body>
                <div class="full-page">
                        <div class=navbar1>
                                <a href="/">Healthcare<br> WebApp</a>
                        </div>
                        <div id="search-patient"class="search-page">
                                <div class="search-form">
                                        <div class="search-button-box">
                                                <div id='search-btn'></div>
                                                <div type="text" class=txt>Search using first name</div>
                                        </div>
                                        <form id='search'action="search_patient" method="get"class="input-group-search">
                                                <input type="text" name="firstName"placeholder='First Name' required class="input-field">
                                                <button type ="submit" class="submit-btn">Submit</button>
                                        </form>
                                </div>
                        </div>
                </div>
        </body>

</html>