<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Doctor Added</title>
                <link rel="stylesheet" type="text/css" href="/css/style.css">
        </head>
        <body>
              <div class="full-page">
                      <div class=navbar1>
                              <a href="/">Healthcare<br> WebApp</a>
                      </div>
                      <div id="search-d-result"class="search-d-result-page">
                              <div class="display-box">
                                      <div class="button-box">
                                              <div id='btn'></div>
                                              <div type="text" class="txt">Please find your details below</div>
                                      </div>
                                      <nav2>
                                        <ul id='DisplayItems'>
                                            <li th:text="'First Name: ' + ${firstName}"></li>
                                            <li th:text="'Last Name: ' + ${lastName}"></li>
                                            <li th:text="'Specialization: ' + ${specialization}"></li>
                                            <li th:text="'Phone Number: ' + ${phoneNumber}"></li>
                                            <li th:text="'Address: ' + ${address}"></li>
                                            <li th:text="'City: ' + ${city}"></li>
                                            <li th:text="'Pin Code: ' + ${pincode}"></li>
                                        </ul>
                                      </nav2>
                                      <div type="text" class="txt1">Thank You for joining us!!</div>
                              </div>
                      </div>
              </div>
          </body>
</html>