<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Home Page</title>
                <link rel="stylesheet" type="text/css" href="/css/style.css">
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                
        </head>
        <body>
                <div class="full-page">
                        <div class=navbar1>
                                <a href="/">Healthcare<br> WebApp</a>
                                <div class ="title">
                                    <h1>All Doctors</h1>
                                </div>
                        </div>
                        <div id="all-patient"class="all-p-page">
                            <div class="all-patient-form">
                                <table class="styled-table">
                                    <thead>
                                    <tr class="active-row">
                                        <th>Doctor ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Specialization</th>
                                        <th>Phone Number</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>Pin Code</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="doctor : ${doctors}">
                                            <td th:text="${doctor.id}"></td>
                                            <td th:text="${doctor.firstName}"></td>
                                            <td th:text="${doctor.lastName}"></td>
                                            <td th:text="${doctor.specialization}"></td>
                                            <td th:text="${doctor.phoneNumber}"></td>
                                            <td th:text="${doctor.address}"></td>
                                            <td th:text="${doctor.city}"></td>
                                            <td th:text="${doctor.pincode}"></td>
                                            <td>
                                                <a th:href="@{'/edit1/' + ${doctor.id}}"><i class="material-icons">edit</i></a>

                                                <a th:href="@{'/delete1/' + ${doctor.id}}"><i class="material-icons">delete</i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="pg">
                                        <nav aria-label="Page navigation example">
                                            <ul>
                                                <li class="page-item" th:classappend="${number eq totalPages-1} ? 'disabled'">
                                                    <a class="page-link svg-icon"
                                                        th:if="${currentPage >= 0}"  th:href="@{0}">First</a>
                                                        <span th:unless= "${currentPage >= 0}" >First</span>
                                                </li>
                                                 <li class="page-item" th:classappend="${number eq 1} ? 'disabled'">
                                                    <a class="page-link svg-icon"
                                                        th:if="${currentPage > 0}" th:href="@{${currentPage}-1 }">&laquo;</a>
                                                        <span th:unless= "${currentPage >= 0}" >&laquo;</span>    
                                                    </a>
                                                </li>
                                            
                                            
                                                 <li class="page-item" th:classappend="${i eq number} ? 'active'"
                                                    th:each="i : ${#numbers.sequence( number, totalPages > 5 + number ? number + 5 : totalPages, 1)}">
                                                    <a class="page-link" th:href="@{${i} }" th:text="${i}"
                                                       th:title="${'Page '+ i}"
                                                       rel="tooltip"></a>
                                                </li>
                                                
                                                <li class="page-item disabled" th:if="${number + 5 < totalPages}">
                                                    <a class="page-link svg-icon" href="#">
                                                        <span data-feather="more-horizontal" width="20" height="20"></span>
                                                        <span aria-hidden="true">...</span>
                                                    </a>
                                                </li>
                                            
                                                <li class="page-item" th:classappend="${number eq totalPages} ? 'disabled'">
                                                    <a class="page-link svg-icon"
                                                    th:if="${currentPage < totalPages-1}" th:href="@{${currentPage}+1  }">&raquo;</a>
                                                    <span th:unless= "${currentPage < totalPages}" >&raquo;</span>
                                                </li>
                                            
                                                <li class="page-item" th:classappend="${number eq totalPages} ? 'disabled'">
                                                    <a class="page-link svg-icon"
                                                      th:if="${currentPage < totalPages}" th:href="@{${totalPages}-1}">Last</a>
                                                    <span th:unless= "${currentPage <= totalPages}" >Last</span>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                            </div>
                        </div>
                </div>
        </body>
</html>